@import "./util.css";
@import "./font.css";

body {
  padding: 0;
  margin: 0;
  font-family: "Pretendard", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  user-select: none;
  pointer-events: none;
}

:root {
  --color-neon: #00d6a9;
  --color-deep-neon: #009f7e;
  --color-neno-graident: linear-gradient(#00c696, #00e7bd);
  --color-highlight1: #fff;
  --color-highlight2: #efecd9;
  --color-highlight3: #fff3b3;
  --color-background-top: #f7f0e3;
  --color-background-middle: #fdfbf0;
  --color-background3: #fff;
  --box-height-tall: 98px;
  --box-height-short: 69px;
  --container-height-tall: 1310px;
  --container-height-short: 980px;
}

.title-lg {
  font-weight: 900;
  font-size: 60px;
  line-height: 72px;
}

.title-md {
  font-weight: 800;
  font-size: 26px;
  line-height: 38px;
}

.msg-lg {
  font-family: "NanumBarunpen";
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
}

.msg-md {
  font-family: "NanumBarunpen";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.box-text-lg {
  font-family: "NanumBarunpen";
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
}
.box-text-md {
  font-family: "NanumBarunpen";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.blackbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--box-height-tall);
  border-radius: 20px 8px;
  background-color: #000;
  color: var(--color-neon);
}

a.linkbox {
  height: var(--box-height-short);
  border-radius: 12px;
  box-shadow: 0px 2px 2px rgba(0, 240, 255, 0.4),
    0px 4px 6px rgba(0, 0, 0, 0.25);
  background-color: #000;
  color: var(--color-neon);
}

.highlight {
  position: absolute;
  bottom: 0;
  left: -10px;
  right: -20px;
  z-index: -1;
  border-radius: 20px 6px;
  height: 24px;
}

.neon {
  background: linear-gradient(#00c696 100%, #00e7bd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.fixed-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 16px;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 20px;
}
.fixed-container .fixed-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 16px;
  right: 9px;
  z-index: 100;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: var(--color-neon);
  background-color: #000;
  padding: 5px 8px;
  border-radius: 6px;
  letter-spacing: 0.2px;
}
.fixed-container .fixed-link img {
  width: 20px;
  height: 20px;
}

.top-container {
  height: var(--container-height-tall);
  background-color: var(--color-background-top);
  padding-top: 80px;
  padding-inline: 20px;
}

/* .top-container .section1 */
.section1 {
  margin-bottom: 60px;
}

.section1 .highlight {
  background-color: var(--color-highlight1);
}

/* .top-container .section2 */
.section2 {
  margin-bottom: 150px;
}

.section2 > div {
  height: 221px;
  display: flex;
  justify-content: center;
}

.section2 img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}
.section2 .wrapper {
  min-width: 360px;
  padding: 0 20px;
}

/* .middle-container */
.middle-container {
  height: var(--container-height-tall);
  background-color: var(--color-background-middle);
  padding-top: 85px;
  padding-inline: 20px;
}

.middle-container .section4 {
  margin-bottom: 88px;
}

.middle-container .section4 .highlight {
  background-color: var(--color-highlight2);
}

.middle-container .section5 {
  margin-bottom: 150px;
}

.middle-container .section5 .img-container {
  display: flex;
  justify-content: center;
  height: 251px;
}

.middle-container .section5 .img-container .wrapper {
  min-width: 360px;
  /* width: 100%; */
}

.middle-container .section5 .img-container p {
  position: absolute;
  top: 50px;
  left: 30px;
}

.middle-container .section5 .img-container img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  object-fit: cover;
}

.middle-container .section6 {
}

/* bottom-container */

.bottom-container {
  position: relative;
  height: var(--container-height-short);
  padding-top: 118px;
  background-color: #fff;
}

.bottom-container .section6 {
  margin-bottom: 62px;
}

.bottom-container .section7 {
}

.bottom-container .section7 p:first-child {
  color: var(--color-deep-neon);
  margin-bottom: 43px;
}

.bottom-container .section7 .highlight-wrapper {
}

.bottom-container .section7 .highlight {
  background-color: var(--color-highlight3);
  left: -10px;
  right: 0;
  bottom: -5px;
  height: 20px;
}

.bottom-container .section7 .link-wrapper {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.bottom-container .section7 .link-wrapper img {
  position: absolute;
  right: -40px;
}

.bottom-container .section7 .link-wrapper a {
  padding: 0 32px;
}
.bottom-container .section7 .tiny {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #707070;
}

/* .bottom-container .section7 p:last-child {
  color: var(--color-deep-neon);
  margin-bottom: 43px;
} */

.bottom-msg {
  margin-top: 172px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.license-link {
  position: absolute;
  bottom: 16px;
  right: 20px;
  font-size: 6px;
  color: gray;
}
