@import "./util.css";
@import "./font.css";

body {
  padding: 0;
  margin: 0;
  font-family: "Pretendard", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  user-select: none;
  pointer-events: none;
}

:root {
  --color-neon: #00d6a9;
  --color-deep-neon: #009f7e;
  --color-neno-graident: linear-gradient(#00c696, #00e7bd);
  --color-highlight1: #fff;
  --color-highlight2: #f7f0e3;
  --color-highlight3: #fff3b3;
  --color-background-top: #f7f0e3;
  --color-background-middle: #fdfbf0;
  --color-background3: #fff;
  --box-height-tall: 98px;
  --box-height-short: 69px;
  --container-height-tall: 1310px;
  --container-height-short: 980px;
}

/* Typography */
.title-lg {
  font-weight: 900;
  font-size: 60px;
  line-height: 72px;
}

.title-md {
  font-weight: 800;
  font-size: 22px;
  line-height: 38px;
}

.msg-lg {
  font-family: "NanumBarunpen";
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
}

.msg-md {
  font-family: "NanumBarunpen";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.box-text-lg {
  /* font-family: "NanumBarunpen"; */
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
}
.box-text-md {
  font-family: "NanumBarunpen";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

/* Predefined UI */
.blackbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--box-height-tall);
  border-radius: 20px 8px;
  background-color: #000;
  color: var(--color-neon);
}

a.linkbox {
  border-radius: 12px;
  box-shadow: 0px 2px 2px rgba(0, 240, 255, 0.4),
    0px 4px 6px rgba(0, 0, 0, 0.25);
  background-color: #000;
  color: var(--color-neon);
  padding: 12px 32px;
}

.highlight {
  position: absolute;
  bottom: 0;
  left: -10px;
  right: -20px;
  z-index: -1;
  border-radius: 20px 6px;
  height: 24px;
}

.neon {
  background: linear-gradient(#00c696 100%, #00e7bd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.slogan {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.slogan > span {
  padding: 2px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #f7f0e3;
  background-color: #000;
}

/* Top Fixed Container */
.fixed-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 16px;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 20px;
}
.fixed-container .fixed-link {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  top: 0;
  right: 9px;
  z-index: 100;
}

.fixed-container .fixed-link > div {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  padding: 5px 8px;
  border-radius: 6px;
  letter-spacing: 0.2px;
  color: var(--color-neon);
  background-color: #000;
}
.fixed-container .fixed-link img {
  width: 20px;
  height: 20px;
}

/* 🔥 슬라이드 1 */
#slide1 {
  background-color: var(--color-background-top);
}

#slide1 .fp-tableCell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

#slide1 .highlight {
  background-color: var(--color-highlight1);
}

#slide1 .title-container {
  margin-top: 80px;
}

#slide1 .img-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#slide1 .img-container .justify-center {
}

#slide1 .img-container .wrapper {
  height: 221px;
  width: 332px;
}
#slide1 .img-container .left {
  position: absolute;
  top: 0;
  left: 0;
}

#slide1 .img-container .right {
  position: absolute;
  top: 0;
  right: 0;
}
#slide1 .img-container img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 221px;
  margin: 0 auto;
}

/* 🔥 슬라이드 2 */
#slide2 {
  background-color: var(--color-background-top);
}

/* 🔥 슬라이드 3 */
#slide3 {
  background-color: var(--color-background-middle);
  padding: 0 20px;
}
#slide3 .fp-tableCell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#slide3 .title-container {
  margin-top: 85px;
}

#slide3 .title-container .highlight {
  background-color: var(--color-highlight2);
}

#slide3 .img-container {
}

#slide3 .img-container .wrapper {
  height: 221px;
}

#slide3 .img-container .wrapper > div {
  width: 360px;
}

#slide3 .img-container p {
  position: absolute;
  top: 50px;
  left: 15px;
}

#slide3 .img-container img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  object-fit: cover;
}

/* 🔥 슬라이드 4 */
#slide4 {
  background-color: var(--color-background-middle);
}

/* 🔥 슬라이드 5 */
#slide5 {
  background-color: #fff;
}
#slide5 .fp-tableCell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
}
#slide5 .container-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin-bottom: 45px; */
}

#slide5 .container-wrapper .img-container {
}

#slide5 .big-msg {
  font-family: "NanumBarunpen";
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}

#slide5 .container-middle .highlight {
  background-color: var(--color-highlight3);
}

#slide5 .button-container {
  position: relative;
}

#slide5 .button-container .msg-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 60px;
}

#slide5 .button-container .msg-wrapper .msg-text {
  padding: 2px 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  border-radius: 12px;
  background-color: var(--color-neon);
}

#slide5 .button-container .msg-wrapper .msg-marker {
  width: 8px;
  height: 9px;
  background-image: linear-gradient(to bottom right, transparent 50%, #00d6a9 0),
    linear-gradient(to top right, #00d6a9 50%, transparent 0);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
  transform: rotate(-180deg);
}

#slide5 .button-container .button-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slide5 .button-container .button-wrapper a {
  position: relative;
  background-color: #000;
  color: var(--color-neon);
  border-radius: 12px;
  padding: 12px 32px;
}

#slide5 .button-container .button-wrapper .chevron-right {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -40px;
}

#slide5 article {
  position: relative;
  background-color: #f4f4f4;
  display: flex;

  align-items: center;
  padding: 12px 20px 20px;
  gap: 13px;
}

#slide5 article > .article-wrapper {
  color: rgba(0, 0, 0, 0.7);
}

#slide5 article > .article-wrapper > header {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 4px;
}

#slide5 article > .article-wrapper > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
#slide5 article .vertical-bar {
  width: 4px;
  background-color: #d9d9d9;
  height: 72px;
}

.bottom-msg {
  margin-top: 172px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.license-link {
  position: absolute;
  bottom: 5px;
  left: 38px;
  font-size: 6px;
  color: gray;
}
#fp-nav {
  top: 60% !important;
  left: 7px !important;
}

#fp-nav a {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

#fp-nav span {
  width: 4px !important;
  height: 4px !important;
  background-color: #fff !important;
  border: 1px solid #000 !important;
  margin: 0 !important;
  position: static !important;
}

#fp-nav a:hover span {
  background-color: #000 !important;
}

#fp-nav a.active span {
  width: 6px !important;
  height: 6px !important;
  background-color: #000 !important;
  border: none !important;
}

#fp-nav li {
  margin: 0 !important;
  height: 17px !important;
}
